<div class="d-none d-md-block">
    <div class="top-row ps-3 navbar navbar-dark">
        <div class="w-100 d-flex justify-content-md-between pe-4">
            <a class="navbar-brand" href="" style="font-family: Bruno Ace, sans-serif; font-size: 20px;">nucleu</a>
            <div class="d-none d-md-block" style="width:40px; height:40px;">
                <img style="width:100%; height:100%; object-fit:cover;" src="_content/MeuApp.Shared/images/white-nucleu.png" alt="">
            </div>
        </div>
    </div>
        
    <div class="nav-scrollable">
        <nav class="flex-column">
            <div class="nav-item px-3">
                <NavLink class="nav-link ps-3" href="" Match="NavLinkMatch.All">
                    <span class="bi bi-house" aria-hidden="true"></span> Home
                </NavLink>
            </div>
    
            <div class="nav-item px-3">
                <NavLink class="nav-link ps-3" href="dashboards">
                    <span class="bi bi-bar-chart-line" aria-hidden="true"></span> Dashboards
                </NavLink>
            </div>
    
            <div class="nav-item px-3">
                <NavLink class="nav-link ps-3" href="produtos">
                    <span class="bi bi-upc-scan" aria-hidden="true"></span> Base de produtos
                </NavLink>
            </div>
    
            <div class="nav-item px-3">
                <NavLink class="nav-link ps-3" href="bancos">
                    <span class="bi bi-coin" aria-hidden="true"></span> Integrações bancárias
                </NavLink>
            </div>
        </nav>
    </div>
</div>

<nav class="navbar bg-body-tertiary fixed-top d-block d-md-none">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="" style="font-family: Bruno Ace, sans-serif; font-size: 20px;">nucleu</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#menuNucleu" aria-controls="offcanvasNavbar" aria-label="Toggle navigation"></button>
    
    <div class="offcanvas offcanvas-end text-white" tabindex="-1" id="menuNucleu" aria-labelledby="menuNucleuLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="menuNucleuLabel" style="font-family: Bruno Ace, sans-serif; font-size: 20px;">nucleu</h5>
        <button type="button" class="btn-close btn-close-white shadow-none text-white" data-bs-theme="light" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>

      <div class="offcanvas-body ">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item" data-bs-dismiss="offcanvas">
            <a class="nav-link ps-3" href="" Match="aMatch.All">
                <span class="bi bi-house" aria-hidden="true"></span> Home
            </a>
          </li>
          <li class="nav-item" data-bs-dismiss="offcanvas">
            <a class="nav-link ps-3" href="dashboards">
                <span class="bi bi-bar-chart-line" aria-hidden="true"></span> Dashboards
            </a>
          </li>
          <li class="nav-item" data-bs-dismiss="offcanvas">
            <a class="nav-link ps-3" href="produtos">
                <span class="bi bi-upc-scan" aria-hidden="true"></span> Base de produtos
            </a>
          </li>
          <li class="nav-item" data-bs-dismiss="offcanvas">
            <a class="nav-link ps-3" href="bancos">
                <span class="bi bi-coin" aria-hidden="true"></span> Integrações bancárias
            </a>
          </li>
        </ul>
        
      </div>
    </div>
  </div>
</nav>